In [7]:
import pandas as pd
import numpy as np
from geopy.distance import vincenty

In [8]:
df = pd.read_csv("../assets/train.csv")

In [9]:
df.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [10]:
df.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [11]:
df["Date"] = pd.to_datetime(df["Date"])

In [12]:
df.shape

(10506, 12)

In [13]:
df["Latlong"] = zip(df["Latitude"], df["Longitude"])

In [14]:
#Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
#Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level

station_1 = (41.995, -87.933)
station_2 = (41.786, -87.752)

print(vincenty(station_1, station_2).miles)

17.1810367501

In [15]:
def checkDistance(x):
    if vincenty(station_1,x).miles > vincenty(station_2,x).miles:
        return 2
    else:
        return 1

In [16]:
df["Station"] = df["Latlong"].apply(checkDistance)

In [ ]:
weather = pd.read_csv("../assets/weather.csv")

In [ ]:
weather.head(2)

In [ ]:
weather.dtypes

In [ ]:
weather["Date"] = pd.to_datetime(weather["Date"])

In [ ]:
spray = pd.read_csv("../assets/spray.csv")

In [44]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
test = pd.read_csv("../assets/test.csv")

In [6]:
test.Trap.value_counts()

T009     1528
T035     1520
T900     1468
T002      857
T008      822
T011      814
T027      803
T151      797
T054      792
T903      784
T028      783
T231      781
T012      781
T003      780
T220      776
T073      776
T115      776
T016      775
T063      774
T223      774
T135      774
T128      774
T212      773
T158      773
T102      772
T114      772
T030      771
T159      770
T013      769
T147      769
         ...
T149      760
T025      760
T218A     760
T088      760
T086      760
T034      760
T037      760
T036      760
T007      760
T006      760
T005      760
T004      760
T219      760
T096      760
T079      760
T078      760
T075      760
T097      760
T077      760
T162      760
T071      760
T070      760
T090C     760
T072      760
T091      760
T092      760
T001      760
T142      760
T143      760
T081      760
Name: Trap, dtype: int64

In [45]:
spray["Date"] = pd.to_datetime(spray["Date"])

In [46]:
spray.rename(columns = {'Latitude': 'Spray_Latitude', 'Longitude':'Spray_Longitude'}, inplace = True)

In [47]:
df3 = df.merge(weather,on=["Date","Station"])

In [48]:
df4 = df3.merge(spray,on=["Date"])

In [49]:
df4.dtypes

Date                      datetime64[ns]
Address                           object
Species                           object
Block                              int64
Street                            object
Trap                              object
AddressNumberAndStreet            object
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
NumMosquitos                       int64
WnvPresent                         int64
Latlong                           object
Station                            int64
Tmax                               int64
Tmin                               int64
Tavg                              object
Depart                            object
DewPoint                           int64
WetBulb                           object
Heat                              object
Cool                              object
Sunrise                           object
Sunset                            object
CodeSum                           object
Depth                             object
Water1                            object
SnowFall                          object
PrecipTotal                       object
StnPressure                       object
SeaLevel                          object
ResultSpeed                      float64
ResultDir                          int64
AvgSpeed                          object
Time                              object
Spray_Latitude                   float64
Spray_Longitude                  float64
dtype: object

In [50]:
def replaceNulls(x):
    if (x == "M") | (x==" "):
        return np.nan
    else:
        return x

In [51]:
df4 = df4.applymap(replaceNulls)

In [52]:
df4.isnull().sum()

Date                            0
Address                         0
Species                         0
Block                           0
Street                          0
Trap                            0
AddressNumberAndStreet          0
Latitude                        0
Longitude                       0
AddressAccuracy                 0
NumMosquitos                    0
WnvPresent                      0
Latlong                         0
Station                         0
Tmax                            0
Tmin                            0
Tavg                            0
Depart                     928092
DewPoint                        0
WetBulb                         0
Heat                            0
Cool                            0
Sunrise                         0
Sunset                          0
CodeSum                    881042
Depth                      928092
Water1                    1475257
SnowFall                   928092
PrecipTotal                     0
StnPressure                     0
SeaLevel                        0
ResultSpeed                     0
ResultDir                       0
AvgSpeed                        0
Time                            0
Spray_Latitude                  0
Spray_Longitude                 0
dtype: int64

In [53]:
len(df4)

1475257

In [1]:
df4.head()

NameError: name 'df4' is not defined

In [20]:
#drop water -> all data is 0
#drop Depart, Depth, SnowFall (69% of data missing)

In [21]:
df3.drop(["Depart","Depth","SnowFall","Water1"],axis=1, inplace=True)

In [67]:
pd.to_numeric(df[[""]])

count     10470
unique       30
top          70
freq        891
Name: WetBulb, dtype: object

In [ ]:
spray.head()